<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
</style>
<body>
    <div style='border:1px soild black;display:flex;width:100%;height:100%;justify-content:center;align-items:center;'>
        <div style='background:white;padding:32px;max-width:640px'>
            <div style='display:flex;font-weight:400;font-size:16px;line-height:24px;color:#344054;flex-direction:column;gap:32px;padding:24px 32px'>
                <p>Hello [User Name],</p>
                <p>Thank you for your interest in our product. We are pleased to inform you that your demo request has been approved. Below are the details for your demo session along with the test credentials for accessing the platform.</p>
                <h1 style='font-weight:600'>Demo Details:</h1>
                <ul style='list-style-type: disc;padding-left:30px'>
                    <li>Date: [Insert Demo Date]</li>
                    <li>Time: [Insert Demo Time] (Please ensure to join 5 minutes early)</li>
                    <li>Meeting Link: <a style='color:#1570ef'>[Link here]</a></li>
                </ul>
                <h1 style='font-weight:600'>Test Credentials:</h1>
                <ul style='list-style-type: disc;padding-left:30px'>
                    <li>Username: [Insert Username]</li>
                    <li>Password: [Insert Password]</li>
                </ul>
            </div>
            <img style='width:100%' src="https://res.cloudinary.com/dwjgpncrf/image/upload/v1730362426/projects/email_template_image/vkrr9re4p2kgs0dcovh9.png"/>
        </div>
    </div>
</body>
</html>

