.project-preview{
    .hero-image{
        width: 100%;
        height: 333px;
        background-image: url("/Projects_preview_page/preview_hero.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-container{
        padding: 24px 32px;
        .header{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px 0;
            gap: 24px;
            border-bottom: 1px solid #d0d5dd;
            h1{
                font-size: 48px;
                line-height: 60px;
                font-weight: 700;
                color: #1d2939;
            }
            .calendar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    background-color: #1570ef;
                    color: white;
                    border-radius: 8px;
                    padding: 10px 18px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                }
                .time-list{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    background-color: #f4eae9;
                    padding: 8px;
                    padding-right: 12px;
                    border-radius: 100px;
                    gap: 8px;
                    div{
                        border-radius: 16px;
                        background-color: white;
                        display: flex;
                        padding: 2px 8px;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: #a4120e;
                        svg{
                            width: 24px;
                            height: 24px;
                            color: #a4120e;
                        }
                        span{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: #a4120e;
                        }
                    }
                    p{
                        font-weight: 400;
                        line-height: 20px;
                        font-size: 14px;
                        color: #a4120e;
                    }
                }
            }
        }
        .bottom{
            margin-top: 32px;
            display: grid;
            grid-template-columns: auto 1px auto;
            gap: 47px;
            .left{
                display: flex;
                gap: 45px;
                flex-direction: column;
                .left-top{
                    display: flex;
                    gap: 8px;
                    flex-direction: column;
                    h3{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        color: #475467;
                    }
                    .stacks{
                        display: flex;
                        gap: 8px;
                        .stack{
                            border-radius: 16px;
                            padding: 2px 8px;
                            background-color: #f2f4f7;
                            p{
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 18px;
                                text-align: center;
                            }
                        }
                    }
                }
                .project-description{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    h1{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #1d2939;
                    }
                    p{
                        font-size: 18px;
                        line-height: 28px;
                        color: #344054;
                        font-weight: 400;
                    }
                    span{
                        color: #1570ef;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
                .project-features{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    h1{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #1d2939;
                    }
                    .features-grid{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 16px;
                        .feature{
                            display: flex;
                            gap: 8px;
                            svg{
                                color: #1570ef;
                            }
                            p{
                                font-size: 18px;
                                line-height: 28px;
                                color: #344054;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .technical-details{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    h1{
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #1d2939;
                    }
                    .video{
                        width: 100%;
                        video{
                            width: 100%;
                        }
                    }
                }
            }
            .middle{
                width: 1px;
                height: 100%;
                background-color: #d0d5dd;
            }
            .right{
                display: flex;
                gap: 24px;
                flex-direction: column;
                width: 354px;
                .right-top{
                    display: flex;
                    gap: 12px;
                    padding: 24px;
                    flex-direction: column;
                    .right-title{
                        display: flex;
                        gap: 8px;
                        svg{
                            width: 24px;
                            height: 24px;
                        }
                        h1{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #344054;
                        }
                    }
                    .input-div{
                        width: 318px;
                        height: 40px;
                        padding: 0 14px;
                        border: 1px solid #d0d5dd;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        background-color: white;
                        gap: 8px;
                        input{
                            outline: none;
                            border: none;
                            width: 100%;
                            height: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: #344054
                        }
                        svg{
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                .right-bottom{
                    display: flex;
                    gap: 12px;
                    padding: 24px;
                    flex-direction: column;
                    .right-title{
                        display: flex;
                        gap: 8px;
                        svg{
                            width: 24px;
                            height: 24px;
                        }
                        h1{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #344054;
                        }
                    }
                    .team-list{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .member{
                            display: grid;
                            grid-template-columns: auto 1fr auto;
                            gap: 12px;
                            align-items: center;
                            .image-container{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                
                                }
                            }
                            .member-details{
                                display: flex;
                                flex-direction: column;
                                h1{
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-weight: 600;
                                    color: #344054;
                                }
                                p{
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 400;
                                    color: #667085;
                                }
                            }
                            button{
                                svg{
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}